@if(bookings.length === 0){
  <div class="alert alert-warning">
    <i class="fa fa-circle-info"></i>
    No tienes reservas todavía
  </div>
  } @else {
  <table class="table">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">ID</th>
        <th scope="col">Usuario</th>
        <th scope="col">Marca</th>
        <th scope="col">Fecha de inicio</th>
        <th scope="col">Fecha fin</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      @for(booking of bookings; track booking){
      <tr>
        <td>
          <!-- <button [disabled]="!(booking.startDate | canCancel)" (click)="eliminar(booking._id)" class="btn btn-danger btn-sm me-1">
            <i class="fa fa-trash"></i>
          </button>
          <button [disabled]="!(booking.startDate | canCancel)" (click)="editar(booking._id)" class="btn btn-primary btn-sm">
            <i class="fa fa-pencil"></i>
          </button> -->
        </td>
        <td>{{ booking._id  }}</td>
        <td>{{ booking.user }}</td>
        <td>{{ booking.vehicle.brand }}</td>
        <td>{{ booking.startDate }}</td>
        <td>{{ booking.endDate }}</td>
        <td>{{ booking.discount }}</td>
      </tr>
      }
    </tbody>
  </table>
  }
  